<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  
 <!-- these are the arguments you can pass this launch file, for example paused:=true -->
    <arg name="world" default="$(find my_robot_description)/world/empty_world.world" />
    <arg name="pause" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
   <arg name="world_name" value="$(arg world)" />
    <arg name="debug" value="$(arg debug)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="$(arg pause)"/>
    </include>

    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.5"/>
    <param name="robot_description" command="$(find xacro)/xacro '$(find my_robot_description)/urdf/robot.urdf'"/>
    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model robot -x $(arg x) -y $(arg y) -z $(arg z)" />

          
</launch>
